﻿body {
    padding-top: 100px;
    background-color: gainsboro;
    border:5px solid black;
}
.navbar {
    background-color: darkblue;
}
    .navbar .navbar-nav {
        background-color: darkblue;
    }
