﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PageMenuLink.ascx.cs" Inherits="Finalproject.Usercontrol.PageMenuLink" %>


<asp:SqlDataSource 
    runat="server" 
    ID="page_lists"
    ConnectionString="<%$ ConnectionStrings:school_sql_con %>">
</asp:SqlDataSource>
<div id="page_query" runat="server" ></div>



<li id="page_links" runat="server" > </li>